# Global owner

* @diogotcorreia

# AL - Main maintainer Diogo Correia
content/al/** @diogotcorreia

# AMS - Main maintainer Diogo Correia
content/ams/** @diogotcorreia

# Apre - Main maintainer Diogo Correia
content/apre/** @diogotcorreia

# ASA - Main maintainer Diogo Gaspar
content/asa/** @randomicecube

# BD - Main maintainer Diogo Correia
content/bd/** @diogotcorreia

# CDI-I - Main maintainer Diogo Correia
content/cdi-i/** @diogotcorreia

# CDI-II - Main maintainer Diogo Correia
content/cdi-ii/** @diogotcorreia

# CDI-III - Main maintainer Diogo Correia
content/cdi-iii/** @diogotcorreia

# CG - Main maintainer Diogo Correia
content/cg/** @diogotcorreia

# Comp - Main maintainer Diogo Correia
content/comp/** @diogotcorreia

# ES - Main maintainer Diogo Correia
content/es/** @diogotcorreia

# Fis-I - Main maintainer Diogo Correia
content/fis-i/** @diogotcorreia

# Fis-II - Main maintainer Tomás Esteves
content/fis-ii/** @Pesteves2002
content/fis-ii/cheatsheets @Pesteves2002

# FP - Main maintainer Diogo Correia
content/fp/** @diogotcorreia

# Ges - Main maintainer Diogo Correia
content/ges/** @trvds @diogotcorreia
content/ges/exercicios/** @diogotcorreia

# IA - Main maintainer Diogo Correia
content/ia/** @diogotcorreia

# IAC - Main maintainer Diogo Correia
content/iac/** @diogotcorreia

# IAED - Main maintainer Tomás Esteves
content/iaed/** @Pesteves2002
content/iaed/labs/* @diogotcorreia @Pesteves2002
content/iaed/meta/* @diogotcorreia

# IEI - Main maintainer Diogo Correia
content/iei/** @diogotcorreia

# IPM - Main maintainer Diogo Correia
content/ipm/** @diogotcorreia

# LP - Main maintainer Diogo Gaspar
content/lp/** @randomicecube

# MD - Main maintainer João Fonseca
content/md/* @jmseca
content/md/imgs/* @jmseca
content/md/exercicios/* @diogotcorreia
content/md/tools/* @diogotcorreia

# OC - Main maintainer Diogo Correia
content/oc/** @diogotcorreia

# PE - Main maintainer Diogo Correia
content/pe/** @diogotcorreia

# PO - Main maintainer Diogo Correia
content/po/** @diogotcorreia
content/po/guides/** @diogotcorreia

# RC - Main maintainer Diogo Correia
content/rc/** @diogotcorreia

# SD - Main maintainer Diogo Correia
content/sd/** @diogotcorreia

# SO - Main maintainer Tomás Esteves
content/so/** @Pesteves2002

# TC - Main maintainer Diogo Gaspar
content/tc/** @randomicecube
