# Global owner

* @diogotcorreia

# CDI-II - Main maintainer Diogo Correia
content/cdi-ii/* @diogotcorreia [cdi-ii]
content/cdi-ii/exercicios/* @diogotcorreia [cdi-ii]
content/cdi-ii/README.md @diogotcorreia [cdi-ii]

# IAED - Main maintainer Tomás Esteves
content/iaed/* @Pesteves2002 [iaed]
content/iaed/labs/* @diogotcorreia @Pesteves2002 [iaed]
content/iaed/meta/* @diogotcorreia [iaed]
content/iaed/README.md @diogotcorreia [iaed]

# LP - Main maintainer Diogo Gaspar
content/lp/* @randomicecube [lp]
content/lp/assets/* @randomicecube [lp]
content/lp/exercicios/* @randomicecube [lp]
content/lp/README.md @diogotcorreia [lp]

# MD - Main maintainer João Fonseca
content/md/* @jmseca [md]
content/md/exercicios/* @diogotcorreia [md]
content/md/README.md @diogotcorreia [md]
