@media not print {
  body.dark-mode.theme-black {
    --bgColor: #000000;
    --cardColor: #161616;
    --textColor: #dbdbdb;
    --borderColor: #222222;
    --miniCodeBgColor: #1a1a1a;
    --scrollbarColor: hsla(0, 0%, 100%, 0.4);
    --tableStripeBgColor: #262626aa;
  }
}
