/* Solarized Light */

body.theme-solarized {
  --accentColor: #1e6da5;
  --bgColor: #eee8d5;
  --cardColor: #fdf6e3;
  --textColor: #2c3e50;
  --borderColor: #c3beb0;
  --lighten20TextColor: #476582;
  --miniCodeBgColor: #e3decc;
  --scrollbarColor: rgba(0, 0, 0, 0.4);
  --tableStripeBgColor: #f6f8faaa;

  --infoBorder: #268bd2;
  --tipBorder: #859900;
  --warningBorder: #b58900;
  --warningBorderTable: #b5890055;
  --warningBackground: #b589001a;
  --dangerBorder: #dc322f;
  --dangerBackground: #dc322f26;

  --colorRed: #c52d2a;
  --colorGreen: #616f00;
  --colorBlue: #1e746e;
  --colorPink: #bb3074;
  --colorPurple: #5e62aa;
  --colorYellow: #8a6a00;
  --colorOrange: #b64314;
  --colorBrown: #9e571a;
}

/* Solarized Dark */

@media not print {
  body.dark-mode.theme-solarized {
    --bgColor: #002b36;
    --cardColor: #073642;
    --textColor: #e2e2e2;
    --borderColor: #045266;
    --lighten20TextColor: #e8e8e8;
    --miniCodeBgColor: #1a414a;
    --scrollbarColor: hsla(0, 0%, 100%, 0.4);
    --tableStripeBgColor: #024859aa;

    --accentColor: #3694d5;
    --colorRed: #e46462;
    --colorGreen: #8da20c;
    --colorBlue: #3fb4ac;
    --colorPink: #dd629d;
    --colorPurple: #8287cd;
    --colorYellow: #a48b38;
    --colorOrange: #ca7856;
    --colorBrown: #b78254;
  }
}
