.home-page-container {
  width: clamp(100px, 90%, 900px);
  margin: 70px auto 0 auto;
}

.hero {
  text-align: center;
}

.year-section > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.semester-section {
  margin: 0 0.7rem;
  flex-grow: 1;
}

.section-button-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.section-button {
  background: #000;
  position: relative;
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  min-width: 170px;
  height: 7rem;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

.section-button span {
  font-size: 2rem;
}

.section-button img {
  width: 5rem;
  position: absolute;
  right: 0.5rem;
  bottom: 1rem;
}
