/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

@import 'search'
@import 'colors'

@media(prefers-color-scheme: dark)
  .invert-dark
    filter: invert(1)

.katex-display
  overflow-x: auto
  overflow-y: hidden

.katex
  font-size: 1.21em!important

.custom-block.tip a
  color: var(--accentColor)