.search-button {
  margin-right: 1rem;
}

.search-header {
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid var(--borderColor);

  padding: 1.2em 1.5em;
}

.search-header .search-icon {
  height: 2em;
  margin-right: 1em;

  color: var(--textColor);
}

.search-form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.search-input {
  flex-grow: 1;
  background: none;
  border: none;
  color: var(--textColor);
  outline: none;

  font-size: 1.5em;
}

.search-input::placeholder {
  color: var(--textColor);
  opacity: 0.6;
}

@media (max-width: 599px) {
  .search-input {
    font-size: 1em;
  }
}

.ais-SearchBox-submit,
.ais-SearchBox-reset {
  display: none;
}

.search-close {
  background-color: var(--bgColor);
  color: var(--textColor);
  border: 1px solid var(--borderColor);
  border-radius: 0.5em;
  font-size: 0.9rem;
  font-family: monospace;

  padding: 0.4em 0.7em;
}

.search-results {
  overflow-y: auto;
}

.search-start {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-start--heading {
  font-size: 1.4em;
  font-weight: bold;
}

.search-hit-list {
  list-style-type: none;
  padding: 0 1em;
}

.search-hit-item {
  padding: 0.5em 0.7em;
}

.search-hit-item[aria-selected='true'] {
  background-color: var(--bgColor);
  border-radius: 1em;
  border-color: var(--borderColor);
}

.search-hit-item:not(:last-child) {
  border-bottom: 1px solid transparent;
  border-bottom-color: var(--borderColor);
}

.search-hit {
  color: var(--textColor);
}

.search-hit--section {
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.6;

  margin: 0;
  margin-bottom: 0.3em;
}

.search-hit--page-path {
  font-weight: bold;

  margin: 0;
}

.search-hit--page-path:not(:last-child) {
  margin-bottom: 0.4em;
}

.search-hit--page-path__separator {
  font-size: 0.9em;
  opacity: 0.7;
}

.ais-Snippet {
  font-weight: normal;
}

.ais-Snippet-highlighted,
.ais-Highlight-highlighted {
  font-style: normal;
  font-weight: bold;
  color: var(--accentColor);
}

.search-footer {
  border-top: 1px solid var(--borderColor);

  padding: 1em 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-filterbysection {
  background-color: var(--bgColor);
  color: var(--textColor);
  border: none;

  border-radius: 1em;
  padding: 0;

  cursor: pointer;
}

.search-filterbysection--btn {
  display: inline-block;
  margin: 0.2em;
  border-radius: 1em;
  padding: 0.4em 0.7em;
}

.search-filterbysection--btn__active {
  background-color: var(--cardColor);
}
