# Global owner

* @diogotcorreia

# CDI-II - Main maintainer Diogo Correia
src/cdi-ii/* @diogotcorreia
src/cdi-ii/exercicios/* @diogotcorreia
src/cdi-ii/README.md @diogotcorreia

# IAED - Main maintainer Tomás Esteves
src/iaed/* @Pesteves2002
src/iaed/labs/* @diogotcorreia
src/iaed/meta/* @diogotcorreia
src/iaed/README.md @diogotcorreia

# LP - Main maintainer Diogo Gaspar
src/lp/* @randomicecube
src/lp/exercicios/* @randomicecube
src/lp/README.md @diogotcorreia

# MD - Main maintainer Rúben Nobre
src/md/* @RubenNobre123
src/md/exercicios/* @diogotcorreia
src/md/README.md @diogotcorreia