# Global owner

* @diogotcorreia

# CDI-II - Main maintainer Diogo Correia
src/cdi-ii @diogotcorreia

# IAED - Main maintainer Tomás Esteves
src/iaed @Pesteves2002
src/iaed/labs @diogotcorreia
src/iaed/meta/linux-setup.md @diogotcorreia

# LP - Main maintainer Diogo Gaspar
src/lp @randomicecube

# MD - Main maintainer Rúben Nobre
src/md @RubenNobre123
src/md/exercicios @diogotcorreia